.taskList {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 1.5rem;
}

.created,
.completed {
  display: flex;

  align-items: center;
}

.created,
.completed p {
  font-size: 0.875rem;
  font-weight: 700;
}

.created p {
  color: var(--blue);
}

.completed p {
  color: var(--purple);
}

.completionChip {
  display: flex;
  align-items: center;

  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 999px;

  background-color: var(--gray-400);
}

.completionChip span {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-200);
}

.listItem {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;

  padding: 1rem;

  word-break: break-word;
}

.listItem + .listItem {
  margin-top: 0.75rem;
}

.listItem label {
  font-size: 0.875rem;
  color: var(--gray-100);
  line-height: 1.4;
}

.listItem input:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.deleteButton {
  margin-left: auto;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.25rem;

  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-300);
  font-size: 0.875rem;

  transition: color 0.1s ease, background-color 0.1s ease;
}

.deleteButton:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}

.empty {
  padding: 4rem 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

  margin: 0 auto;
}

.empty > img {
  display: block;
  margin: 0 auto 1rem;
}

.empty p,
.empty span {
  font-size: 1rem;
  color: var(--gray-300);
  line-height: 1.4;
}

.empty p {
  font-weight: 700;
}
